.admin_nav {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  height: 100%;
}

.nav__link {
  text-decoration: none;
  padding: 10px 20px;
}

.nav__brand {
  text-align: center;
  padding-block: 5px;
  color: white;
}

.nav__link:hover {
  background-color: var(--secondary-color);
  color: black;
  cursor: pointer;
}

.container {
  padding: 0;
  height: 100vh;
  min-height: 800px;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  border: solid 1px grey;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.content,
.content-container,
table {
  width: 100%;
}

table th,
table td {
  padding: 12px 15px;
}

.content {
  padding: 20px;
}

#search {
  width: 100%;
  padding: 10px;
}

.hide {
  display: none;
}
.btn {
  padding: 10px 20px;
  background-color: var(--secondary-color);
}

.btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.popup {
  width: 300px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 9999;
  padding: 20px;
  background-color: white;
  border: solid 1px var(--primary-color);
}

.form-group {
  flex-direction: column;
  gap: 2px;
}

.form-group > * {
  width: 100%;
}
