:root {
  --primary-color: #0d1b2a;
  --secondary-color: #f6fff8;
  --cta-color: #415a77;
  --poppins: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--poppins);
}

.text-center {
  text-align: center;
}
.mb-2 {
  margin-bottom: 5px;
}

.login-wrapper {
  border-radius: 10px;
  width: 90vw;
  max-width: 300px;
  margin-inline: auto;
  margin-top: 40px;
}

.field {
  outline: none;
  padding: 10px;
  width: 90%;
}

#login-btn {
  background-color: var(--cta-color);
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;
  width: max-content;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login__form > div {
  width: max-content;
}

#login-error {
  color: red;
}

.login__header {
  background-color: var(--primary-color);
  padding: 20px 10px;
}

#logo {
  color: #0062a9;
}

.nav {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  gap: 20px;
}

.nav__logo {
  margin-right: auto;
  color: white;
}

.nav__link {
  color: white;
  text-decoration: none;
}

.main-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

/* Singup */

input {
  height: 35px;
}
.singup-wrapper {
  height: 100vh;
  max-height: 600px;
  width: max-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singup-form {
  text-align: left;
  width: 100vw;
  max-width: 300px;
  padding: 20px;
  margin-top: 10px;
  background-color: var(--secondary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-block {
  display: flex;
  flex-direction: column;
}

#singup {
  margin-top: 5px;
}

/* Explore Job */

.inner-wrapper {
  padding-block: 20px;
  width: 95%;
  margin: 0 auto;
}

.container {
  display: flex;
  padding-inline: 10px;
  gap: 20px;
}

.container__filter {
  flex-basis: 20%;
}

.container__content {
  flex-basis: 80%;
}

.search-field {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.filter_form {
  padding: 10px;
  background-color: var(--secondary-color);
}

/* general style */
.btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.error-display {
  color: red;
}

.mt-2 {
  margin-top: 10px;
}

input {
  padding: 5px 10px;
}
/* General Style */

/* Pagination */
.pagination-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-block: 10px;
}
.pagination {
  padding: 5px 10px;
  border: solid 1px black;
  cursor: pointer;
}

.pagination:nth-child(1) {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
  border-right: none;
}
.pagination:last-child {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  border-left: none;
}
.pagination:nth-child(2) {
  border: solid 1px black;
}

.pagination:visited {
  background-color: #0062a9;
}

/* bnox */

.box-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.box {
  padding: 50px 80px;
  background-color: var(--primary-color);
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 20px;
  font-size: 1.5rem;
}

/* jobs */
.jobs {
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}
.posted-job {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.job-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.job-poster {
  font-size: 14px;
}

.job-date,
.job-type {
  font-size: 12px;
}
